<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button (click)="showModal()">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Group
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content scroll-y="false">
      <ion-list *ngFor="let groupParticipation of this.dataService.groupParticipations">
        <ion-item (click)="openPopUp(groupParticipation.student)">
          <ion-label>{{groupParticipation.student.firstName + " " + groupParticipation.student.lastName}}</ion-label>
        </ion-item>
      </ion-list>
</ion-content>


